.tweetBox{
    padding-bottom: 10px;
    border-bottom: 10px solid var(--twitter-backgorund);
    padding-right: 10px;
}
.tweetBox__input{
    display: flex;
    align-items: center;
    padding: 20px;
}
.tweetBox__input > input{
    font-family:inherit;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: #080B0E;
    border: 0px;
    flex: 1;
    margin-left: 20px;
}
.tweetBox__input > input::placeholder{
    color: #97A4AE;
}
.tweetBox >form{
    display: flex;
    flex-direction: column;
}
.twitter__avatar{
    width: 60px;
    height: auto;
}
.tweetBox__button{
    background-color: var(--twitter-color) !important;
    color: white !important;
    border: none !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    font-size: 15px !important;
    padding: 10px !important;
    text-transform: inherit !important;
    margin-top: 20px !important;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(182, 182, 182, 0.57) !important; 
    box-shadow: 0px 3px 20px 0px rgba(182, 182, 182, 0.57) !important;
    width: 100px;
    margin-left: auto !important; 
    transition: all 0.2s ease-out;
}
.tweetBox__button:hover{
    background-color: #58abdf!important;
}

.tweetBox__imageInput{
    border: none;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}